
	/*	################################################################
	2. SKELETON
	################################################################# */
	
	body {
		background:#fff;
		color:#666666;
		font-size:13px;
		line-height:24px;
		font-family: 'Poppins', sans-serif;
	}
	
	
	img.aligncenter {
		margin-left: auto;
		margin-right: auto;
		display: block;
		clear: both;
		margin-top: 5px;
	}
	.aligncenter {
		margin-left: auto;
		margin-right: auto;
		display: block;
		clear: both;
	}
	img.alignleft {
		margin: 5px 20px 20px 0;
		float: left;
	}
	.alignleft {
		margin: -8px 10px 20px 0;
		float: left;
	}
	img.alignright {
		margin: 5px 0 20px 20px;
		float: right;
	}
	.alignright {
		margin: 5px 0 20px 20px;
		float: right;
	}
	.transparent {
		z-index:1;
		display:block;
		padding:100px 0;
		position:relative;
	}
	.white-wrapper {
		z-index:1;
		display:block;
		padding:50px 0;
		position:relative;
		background-color:#f7f7f7;
	}

	.about-wrapper {
		z-index:1;
		display:block;
		padding:50px 0;
		position:relative;
	}


	.dark-wrapper {
		display:block;
		padding:40px 0;
		position:relative;
		background-color:#fff;
	}
	
	
	.mychoice
	{
		margin-bottom: 30px;
	}
	
	.mychoice h3
	{
		margin-top: 7px!important;
	}



/*	############## ##################################################
	2. Header Sections
	################################################################# */
	/*--header--*/
.navbar-header h1 {
    text-align: center;
}
.navbar-header h1 img {
    margin-right: 0.3em;
}
.navbar-header h1 a {
    color: #ff8c00;
    text-decoration: none;
    font-size: 33px;
    display: block;
    padding:13px;
    font-weight: 600;
}
.navbar-header h1 a span {
    font-size: .3em;
    display: block;
    letter-spacing: 8px;
}
/*-- top-nav --*/
.glyphicon.glyphicon-phone {
    color: #000;
    font-size: 33px;
	display: inline;
}
.nav-contact-w3ls {
    padding-right: 10px;
    margin-right: 10px;
	float: left;
}
.nav-contact-w3ls i.fa {
    color: #fff;
    font-size: 17px;
    background: #efc256;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    margin-right: .5em;
}
.nav-contact-w3ls p {
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffffff;
}
.top-nav-text .call {
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
    /* float: left; */
    margin-top: 4px;
}
.top-nav-text a {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    padding: 7px 30px;
    background: #01bcfa;
	margin-left:2em;
	text-decoration:none;
}
.top-nav-text {
    margin-top: 14px;
    float: right;
    width: 15%;
    margin-left: 16em;
}
/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.navbar-default {
    background: none;
    border: none;
    margin: 0;
    min-height: 60px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background: none;
}
.navbar-nav > li {
   margin: 0 0.5em;
}
.navbar-nav > li:nth-child(6){
	margin-right:0!important;
}

.navbar-right {
    float: right!important;
    margin-right:0px!important;
    margin-top: 0em;
}
.navbar-collapse {
    padding: 0!important;
    margin-top: 10px!important;
}
/*-- //top-nav --*/



.navbar-header h1
{
	margin: 0px;
}




	
	.feature-img img {
		padding:40px 0;
		margin:auto;
	}
	.features-widget {
		margin-bottom:25px;
	}
	
	.features-widget h3 {
		color: #3C3B3B;
		text-transform: uppercase;
		font-weight: 500;
		font-size: 20px;
	}
	
	.features-widget p {
		color: #3C3B3B;
		letter-spacing: 1px;
		font-weight: 400;
		font-size: 12px;
	}
	
	.borderright {
		padding:0 25px;
		border-right:1px solid #dddddd;
	}
	
	.borderleft {
		padding:0 25px;
		border-left:1px solid #dddddd;
	}
	
	.title hr {
		width:40%;
		border-color:#dddddd;
	}
	
	
	.title h2 {
		color:#3C3B3B;
		text-transform:uppercase;
		font-weight:700;
		font-size: 24px;
	}
	
	.transparent .title h2 {
		border: 1px dashed #111;
		display: inline-block;
		font-weight: 300;
		padding: 0 0 25px;
		text-transform: none;
	}
	
	.title p {
		color:#999999;
	}
	
	.progress {
		position:relative;
		overflow:visible
	}
	.skill_count {
		position:absolute;
		right:0;
		font-weight:bold;
		font-size:16px; 
		color:#222;
		top:-9px
	}
	.skills_bar {
		margin:10px 0;
		overflow:hidden;
	}
	.skills_bar small {
		font-size:14px;
		color:#222222;
		margin:10px 0;
	}
	.progress {
		border-radius:0;
		box-shadow:none;
		border-bottom:1px solid #cbcbcb;
		background:none;
		margin:10px 0;
		height:10px;
	}
	#accordion-second .accordion-group{
		margin-bottom:10px;
	}
	
	.widget a {
	color: #F7C221;
	}
	
	#accordion-second .accordion-heading{
		border-bottom:0;
		font-size:16px;
	}
	#accordion-second .accordion-heading .accordion-toggle{
		display:block;
		cursor:pointer;
		padding:0 !important;
		color:#222222;
		background:#EBEBEB;
		outline:none!important;
		text-decoration:none
	}
	#accordion-second .accordion-heading,
	#accordion-second .accordion-toggle:hover,
	#accordion-second .accordion-heading .accordion-toggle.active{
		background:#f5f5f5;
	}
	#accordion-second .accordion-heading .accordion-toggle > em {
		background-color: #222222;
		border-radius:0;
		color: #FFFFFF;
		font-size:14px;
		height: 37px;
		line-height: 40px;
		margin-right: 10px;
		text-align: center;
		width: 40px;
	}
	#accordion-second .accordion-inner{
		padding:9px 10px;
		background:#f5f5f5;
	}	
	#accordion-first .accordion-group{
		margin-bottom:10px;
	}
	#accordion-first .accordion-heading{
		border-bottom:0;
		font-size:16px;
	}
	#accordion-first .accordion-heading .accordion-toggle{
		display:block;
		cursor:pointer;
		padding:5px 0 !important;
		color:#222222;
		outline:none!important;
		text-decoration:none
	}
	#accordion-first .accordion-heading,
	#accordion-first .accordion-toggle:hover,
	#accordion-first .accordion-heading .accordion-toggle.active{
		background:none;
	}
	#accordion-first .accordion-heading .accordion-toggle > em {
		background-color: #222222;
		-webkit-border-radius:100px;
		-moz-border-radius:100px;
		border-radius:100px;
		color: #FFFFFF;
		font-size:14px;
		height: 32px;
		line-height: 32px;
		margin-right: 10px;
		text-align: center;
		width: 32px;
	}
	#accordion-first .accordion-inner{
		padding:9px 10px;
	}
	.check li:before {
		content: "\f00c";
		font-family: "FontAwesome";
		font-size: 16px;
		left: 0;
		padding-right:5px;
		position: relative;
		top: 2px;
	}
	.check li {
		font-size:13px;
		list-style:none;
		margin-bottom:4px;
	}
	.check {
		margin-left:0; 
		padding-left:0
	}
	.check li a {
		color:#656565;
	}
	
	.widget-wrapper {
		display: block;
		padding: 50px 0;
		position: relative;
		background-color: #FFF;
	}
	
	
	.widget {
		margin:40px 0;
		color:#999999;
		padding:0;
	}
	
	.widget h3 {
		margin:20px 0;
		font-size:16px;
		text-transform:uppercase;
		color:#3C3B3B;
		font-weight:500;
	}
	
	.progress-bar {
		background-color: #F7C221;
	}
	
	/*Main Carousel CSS*/

	#home-carousel  .item {
		background-position: center top;
		background-repeat: no-repeat;
		background-size:cover;
		width:100%;
		height: 990px;
	}

	.carousel-caption {
		left:15px;
		right:15px;
		top:300px;
		font-size:15px;
		text-align:left;
		color:#fff;
		text-shadow:none;	
	}

	.carousel-caption h1 {
		font-size:46px;
		margin-bottom:0;
		line-height:27px;
		letter-spacing:2px;
	}

	.carousel-caption h2 {
		font-size:81px;
		font-family: 'aller_displayregular';
		margin-top:0px;
		text-transform:lowercase;
		letter-spacing:2px;
	}

	.carousel-caption p {
		max-width:580px;
	}

	.brand-promotion {
		
		color:#fff;
	}

	.brand-content {
		background-color:rgba(105, 202, 206, 0.9);
		padding: 30px 20px;
		font-size: 14px;
	}

	.brand-content h2 {
		text-transform: capitalize;
	}

	.brand-content:hover {
		background-color:#3298da;
	}

	.brand-content img {
		margin-right: 15px;
		margin-top: 15px;
	}

	.container>.carousel-arrows {
		top: 515px;
		left:0;
		position: relative;
	}

	.home-carousel-left, 
	.home-carousel-right {	
		position: absolute;
		font-size: 30px;
		z-index: 15;
		color:#fff;	
	}

	.home-carousel-left {
		left:0px;
	}

	.home-carousel-right {
		left:25px;
	}

	a.navbar-brand {
		color: #F7C221 !important;
		font-weight: 700 !important;
		font-size: 26px !important;
	}

	span.slogo {
		font-size: 15px;
		color: #FFF;
		letter-spacing: 5px;
		font-weight: 300;
	}

	span.blogo {
		font-size: 15px;
		color: #726C6C;
		letter-spacing: 5px;
		font-weight: 300;
	}

	.social-icons.footer i.fa {
		color: #FFF;
		font-size: 20px;
		padding: 10px;
	}

	.navbar-brand {
		float: center !important;
	}

	.form-control:focus {
		border-color: #E9BF66 !important;
	}
		
		
	
/*	################################################################
	3. Home Slider Section
	################################################################# */
	.homeoverlay {
		background-color: rgba(18, 78, 88, 0.56);
	}
	.rev-overlay {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		top: 0;
		background-color: rgba(0, 30, 35, 0.8);
	}
	.transparent {
		background:rgb(0,0,0);
		background: transparent\9;
		background:rgba(0,0,0,0);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4c000000,endColorstr=#4c000000);
		zoom: 1;
	}
	.home-wrapper {
		background: url(demos/home-banner.png) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		z-index:1;
		width:100%;
	}
	
	#owl-intro h2 {
		font-size: 36px;
		font-weight: 300;
		text-transform: uppercase;
		color: #FFF;
		margin:220px auto;
		text-align:center;
		padding: 20px;
		
	}
	
	.sliderbigtitle {
		font-size: 36px;
		font-weight: 300;
		text-transform: uppercase;
		color: #FFF;
		margin:220px auto;
		text-align:center;
		padding: 20px;
		line-height: 35px;
		
	}
	
	.slidersmalltitle {
		font-size: 12px;
		font-weight: 500;
		text-transform: uppercase;
		color: #FFF;
		margin: -220px auto;
		text-align: center;
		padding: 20px;
		line-height: 1.5;
	}
	
	.sliderbigtitle hr {
		border-color: #F7C221;
		width: 40%;
		}

	.slidersmalltitle hr {
		border-color: #F7C221;
		width: 40%;
		}

	
	#owl-intro p {
		font-size: 12px;
		font-weight: 500;
		text-transform: uppercase;
		color: #FFF;
		margin: -220px auto;
		text-align: center;
		padding: 20px;
	}
	
	#owl-intro h2 hr {
		border-color:#F7C221;
		width:40%;
	}
	
		
	.intro-icon {
		margin: 0 auto;
		padding: 0 0 20px 0;
		width: 50px;
		text-align: center;
		position: absolute;
		right: 0;
		left: 0;
		bottom: 0;
	}
	span.intro-icon a {
		font-size: 50px;
		color: #FFF;
	}
	
	.feature-wrapper {
		z-index: 1;
		display: block;
		padding: 50px 0 40px 0;
		position: relative;
		background-color: #F7F7F7;
	}
	
	.feature-img {
		margin-bottom: -40px;
	}
	
	
	/*
	* 	Slider Revolutions 
	*	
	*/
	
	@keyframes animatedBackground {
		0% { background-position: 0 0; }
		100% { background-position: -31000px 0; }
	}
	@-moz-keyframes animatedBackground {
		0% { background-position: 0 0; }
		100% { background-position: -31000px 0; }
	}
	@-webkit-keyframes animatedBackground {
		0% { background-position: 0 0; }
		100% { background-position: -31000px 0; }
	}
	@-ms-keyframes animatedBackground {
		0% { background-position: 0 0; }
		100% { background-position: -31000px 0; }
	}
	@-o-keyframes animatedBackground {
		0% { background-position: 0 0; }
		100% { background-position:-31000px 0; }
	}
	 
	#animate-area img {
		width:100%;
		height:100%;
	}
	#animate-area {
		width: 100%;
		position:absolute;
		height:100%;
		top:0;
		bottom:0;
		left:0;
		z-index:-1;
		background-image: url(demos/parallaxbg_01.jpg);
		background-position: 0px 0px;
		background-repeat: repeat-x;
		animation: animatedBackground 666s linear infinite;
		-moz-animation: animatedBackground 666s linear infinite;
		-webkit-animation: animatedBackground 666s linear infinite;
		-ms-animation: animatedBackground 666s linear infinite;
		-o-animation: animatedBackground 666s linear infinite;
	}
	#slides {
		position: relative;
	}
	#slides .slides-container {
		margin: 0;
		list-style:none;
	}
	#slides .scrollable {
		*zoom: 1;
		position: relative;
		top: 0;
		left: 0;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		height: 100%;
	}
	#slides .scrollable:after {
		content: "";
		display: table;
		clear: both;
	}
	.slides-pagination {
		position: absolute;
		z-index: 20;
		bottom: 30px;
		text-align: center;
		width: 100%;
	}
	.slides-pagination a {
		color: #1a1a1a;
		background: #ffffff;
		opacity: 1;
		-moz-opacity: 1;
		filter: alpha(opacity=100);
		width: 30px;
		height: 4px;
		display: -moz-inline-stack;
		display: inline-block;
		vertical-align: middle;
		*vertical-align: auto;
		zoom: 1;
		*display: inline;
		margin: 2px;
		overflow: hidden;
		text-indent: -100%;
	}
	.slides-navigation a:hover {
		opacity: 0.5;
		-moz-opacity: 0.5;
		filter: alpha(opacity=50);
	}
	.slides-navigation {
		top: 50%;
	}
	.slides-navigation a {
		display: block;
		text-decoration: none;
		color: white;
		font-size: 24px;
		margin: 0 25px;
		text-align: center;
		height: 60px;
		width: 60px;
		line-height:60px;
		top: 0;
		border:1px solid #ffffff;
		padding: 0;
		-webkit-border-radius: 500px;
		border-radius: 500px;
	}
	.slides-navigation {
		margin: 0 auto;
		position: absolute;
		z-index: 3;
		top: 46%;
		width: 100%;
	}
	.slides-navigation a {
		position: absolute;
		display: block;
	}
	.slides-navigation a.prev {
		left: 0;
	}
	.slides-navigation a.next {
		right: 0;
	}
	
	.boxedcontainer {	
		max-width: 1170px; 
		margin:auto; 
		padding:0px 30px;
	}
	.tp-banner-container {
		width:100%;
		position:relative;
		padding:0;
		background-color: #fff;
	}
	.tp-banner {
		width:100%;
		position:relative;
	}
	.tp-banner-fullscreen-container {
		width:100%;
		position:relative;
		padding:0;
	}	
	
	.tp-bullets.simplebullets.navbar {
		height: 35px;
		padding: 0px 0px;
	
	}
	.tp-bullets.simplebullets .bullet {
		cursor: pointer;
		position: relative !important;
		background: rgba(0, 0, 0, 0.5) !important;
		-webkit-border-radius: 0;
		border-radius: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		width: 6px !important;
		height: 6px !important;
		border: 5px solid rgba(0, 0, 0, 0) !important;
		display: inline-block;
		margin-right: 2px !important;
		margin-bottom: 14px !important;
		-webkit-transition: background-color 0.2s, border-color 0.2s;
		-moz-transition: background-color 0.2s, border-color 0.2s;
		-o-transition: background-color 0.2s, border-color 0.2s;
		-ms-transition: background-color 0.2s, border-color 0.2s;
		transition: background-color 0.2s, border-color 0.2s;
		float:none !important;
	}
	.tp-bullets.simplebullets .bullet.last {
		margin-right: 0px
	}
	.tp-bullets.simplebullets .bullet:hover,
	.tp-bullets.simplebullets .bullet.selected {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		background: rgba(255, 255, 255, 1) !important;
		width: 6px !important;
		height: 6px !important;
		border: 5px solid #F7C221 !important;
	}
	.tparrows:before {
		font-family: 'revicons';
		color: #fff;
		font-style: normal;
		font-weight: normal;
		speak: none;
		display: inline-block;
		text-decoration: inherit;
		margin-right: 0;
		margin-top: 17px;
		text-align: center;
		width: 55px;
		font-size: 14px;
	}
	.tparrows {
		border-radius:0 !important;
		opacity: 1 !important;
		background-color: #F7C221 !important;
		border-color: #F7C221 !important;
	}
	.slides-navigation a,
	.tp-leftarrow, 
	.tp-rightarrow{ 
		opacity:0.9 !important;
		filter:alpha(opacity=90); /* For IE8 and earlier */
	}
	.slides-navigation a:hover,
	.tp-leftarrow:hover, 
	.tp-rightarrow:hover{
		filter:alpha(opacity=100); /* For IE8 and earlier */
		opacity:1 !important;
	}
	.tparrows {
		border:1px solid #aaaaaa;
		cursor: pointer;
		background: rgba(0, 0, 0, 0) !important;
		width: 60px !important;
		height: 60px !important;
	}
	.tparrows:hover {
		color: #fff;
	}
	.tp-leftarrow:before {
		content: '\e824';
	}
	.tp-rightarrow:before {
		content: '\e825';
	}
	.tparrows.tp-rightarrow:before {
		margin-left: 1px;
	}
	.tparrows:hover {
		background: rgba(0, 0, 0, 0) !important;
	}
	
		
	/*
	* 	Owl Carousel 
	*	v1.3.3
	*/
	
	.owl-theme .owl-controls{
		margin-top: 10px;
		text-align: center;
	}
	
	/* Styling Next and Prev buttons */
	
	.owl-theme .owl-controls .owl-buttons div{
		color: #FFF;
		display: inline-block;
		zoom: 1;
		*display: inline;/*IE7 life-saver */
		margin: 5px;
		padding: 3px 10px;
		font-size: 12px;
		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
		border-radius: 30px;
		background: #869791;
		filter: Alpha(Opacity=50);/*IE7 fix*/
		opacity: 0.5;
	}
	/* Clickable class fix problem with hover on touch devices */
	/* Use it for non-touch hover action */
	.owl-theme .owl-controls.clickable .owl-buttons div:hover{
		filter: Alpha(Opacity=100);/*IE7 fix*/
		opacity: 1;
		text-decoration: none;
	}
	
	/* Styling Pagination*/
	
	.owl-theme .owl-controls .owl-page{
		display: inline-block;
		zoom: 1;
		*display: inline;/*IE7 life-saver */
	}
	.owl-theme .owl-controls .owl-page span{
		display: block;
		width: 12px;
		height: 12px;
		margin: 5px 7px;
		filter: Alpha(Opacity=50);/*IE7 fix*/
		opacity: 0.5;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
		background: #869791;
	}
	
	.owl-theme .owl-controls .owl-page.active span,
	.owl-theme .owl-controls.clickable .owl-page:hover span{
		filter: Alpha(Opacity=100);/*IE7 fix*/
		opacity: 1;
	}
	
	/* If PaginationNumbers is true */
	
	.owl-theme .owl-controls .owl-page span.owl-numbers{
		height: auto;
		width: auto;
		color: #FFF;
		padding: 2px 10px;
		font-size: 12px;
		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
		border-radius: 30px;
	}
	
	/* preloading images */
	.owl-item.loading{
		min-height: 150px;
		background: url(images/AjaxLoader.gif) no-repeat center center
	}
	
	
	.parallax {
		background-attachment: fixed !important;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.home-wrapper {
	   height: 100vh;
		position:relative;
	}
	
	.customoverlay {
		padding: 60px 0;
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		top: 0;
		background-color: rgba(0, 30, 35, 0.8);
	}
	
/*	################################################################
	4. ABOUT SECTION
	################################################################# */
	
	/*--------------------- 14. about us --------------------*/
.what-client-say:hover .owl-controls .owl-buttons div {
    opacity: 1;
}
.what-client-say .owl-controls .owl-buttons div {
  top: 18%;
}
.about-optima-text h1, .about-sec-head h2, h2.creative-member, .contact-content-area h2 {
    font-size: 24px;
    font-weight: 300;
    line-height: 40px;
    margin-bottom: 10px;
    margin-top: 0;
    text-transform: uppercase;
}
.about-optima-text h1 strong, .client-say h2 strong, h2.creative-member strong, .contact-content-area h2 strong {
    border-bottom: 1px solid #ffc34e;
    color: #ffc34e;
    font-weight: 300;
    line-height: 40px;
}
.about-optima-text > p, .about-sec-head p, .client-text > p, .member-info p {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    word-spacing: 2px;
}
.about-optima-text ul {
  margin-bottom: 28px;
  margin-top: 10px;
  overflow: hidden;
  margin-left: -40px;
}
.about-optima-text ul li::before {
    color: #d6d6d6;
    content: "";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 14px;
    left: 0;
    margin-right: 10px;
}
.about-optima-text ul li {
    border-top: 1px solid #ddd;
    color: #8c8c8c;
    display: block;
    font-size: 13px;
    line-height: 24px;
    padding: 8px 20px 8px 0;
    position: relative;
}
.about-optima-text a {
    border: 1px solid #E84C3D;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
    overflow: hidden;
    padding: 10px 23px 8px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    color: #a6a6a6;
}
.about-optima-text a:hover {
    background: #E84C3D none repeat scroll 0 0;
    color: #fff;
    transition: all 0.6s ease 0s;
}
.about-optima-text ul li:last-child {
    border-bottom: 1px solid #ddd;
}
.about-sec-head {
    margin-bottom: 40px;
    text-align: center;
}
	
/*	################################################################
	5. SERVICE SECTION
	################################################################# */	
	
	.service-box img {
	}
	.service-box {
		margin:40px 0;
		color:#999999;
		padding:0;
	}
	
	.service-box p {
		padding-left: 80px;
		margin-top: -10px;
	}
	
	.service-box h3 {
		margin: 20px 0;
		font-size: 16px;
		text-transform: uppercase;
		color: #3C3B3B;
		font-weight: 500;
	}
	
	#testimonials .item{
		background: #3fbf79;
		padding: 30px 0px;
		margin: 10px;
		color: #FFF;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		text-align: center;
	}
	.customNavigation{
		text-align: center;
	 }
	.customNavigation a{
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
	
	.service-border .fa {
		font-size: 40px;
		color: #F7C221;
		}
		 
/*	################################################################
	6. SKILL SECTION
	################################################################# */
		
	.overlay {
		padding:60px 0;
		background-color: rgba(52, 50, 44, 0.5);
		}
		
	.skill h3 {
		color:#ffffff;
		text-transform:uppercase;
		padding:20px 0 10px;
		position:relative;
		display:block;
		font-size:15px;
		}
		
	.skill p {
		color:#ffffff;
		}
		
	.skill {
		margin:0 auto;
		display:block;
		position:relative;
		text-align:center; 
		}
	.percent {
		top: 28%;
		color: #FFFFFF;
		display: block;
		font-size: 30px;
		left: 0;
		line-height: 20px;
		margin: 0 auto;
		position: absolute;
		right: 0;
		text-align: center;
		width: 170px;
		z-index: 10;
		}
	
/*	################################################################
	7. TESTIMONIAL SECITON
	################################################################# */
	.testimonial h2 {
		font-weight: 600;
		font-size: 26px;
		color: #3C3B3B;
		border: 1px dashed #F7C221;
		display: inline-block;
		padding: 20px;
	}
	
	.testimonial p {
		font-weight: 600;
		font-size: 15px;
		color: #999;
		padding: 30px 0 2px 0px;
	}
	
	.testimonial h1 {
		font-weight: 700;
		font-size: 15px;
		color: #F7C221;
		text-transform: uppercase;
		padding-bottom: 30px;
	}
	
	.fa-2x {
		color: #ABABAB;
	}
	
/*	################################################################
	8. PORTFOLIO SECTION
    ################################################################# */
	
	/* ----------------------------------------------------
	PORTFOLIO STYLES
------------------------------------------------------- */

	.single-portfolio .title h2 {
		font-size:24px;
		text-transform:none;
		margin-top:0;
		padding-top:0;	
	}
	.product_details ul li {
		list-style:none;
		padding-left:2px;
		padding-bottom:5px;
	}
	.pager li > a, .pager li > span {
		background-color: #FFFFFF;
		border: 1px dashed #fff;
		border-radius: 0;
		color:#fff;
		margin:30px 0 0;
		display: inline-block;
		padding: 5px 14px;
	}
	.pager li > a:hover, .pager li > span:hover {
		background-color:#222;
		color:#fff;
	}
	.product_details ul li a {
		color:#666;
	}
	.masonry_wrapper {
		overflow:hidden;
		margin:30px 0;
	}
	.masonry_wrapper .item {
		margin: 0 2px 4px;
		padding:0;
	}
	.masonry_wrapper .item img {
		height: auto !important;
		height: 100% !important;
		width: 100%;
		position: relative;
		z-index: -2;
	}
	#boxed-portfolio .portfolio_item {
		width:100% !important;
		height:auto !important;
		margin:0 0 20px;
		overflow:hidden;
	}
	#boxed-portfolio {
		display: block !important;
		overflow: visible !important;
		position: relative;
		z-index: 10;
		margin-bottom:20px;
	}
	.portfolio-filter ul {
		list-style:none; 
		padding-left:10px
	}
	.portfolio-filter {
		text-align: center;
		overflow:hidden;
		margin: 0px 0 0px;
	}
	.portfolio-filter li {
		display: inline;
		margin-right: 5px;
		padding: 0;
	}
	.portfolio-filter li a {
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		border-radius:4px;
	}
	.team_member img,
	.portfolio_item img {
		width:100%;
	}
	.isotope-item {
	  z-index: 2;
	}
	.isotope-hidden.isotope-item {
	  pointer-events: none;
	  z-index: 1;
	}
	.isotope,
	.isotope .isotope-item {
	  -webkit-transition-duration: 0.8s;
		 -moz-transition-duration: 0.8s;
		  -ms-transition-duration: 0.8s;
		   -o-transition-duration: 0.8s;
			  transition-duration: 0.8s;
	}
	.isotope {
	  -webkit-transition-property: height, width;
		 -moz-transition-property: height, width;
		  -ms-transition-property: height, width;
		   -o-transition-property: height, width;
			  transition-property: height, width;
	}
	.isotope .isotope-item {
	  -webkit-transition-property: -webkit-transform, opacity;
		 -moz-transition-property:    -moz-transform, opacity;
		  -ms-transition-property:     -ms-transform, opacity;
		   -o-transition-property:      -o-transform, opacity;
			  transition-property:         transform, opacity;
	}
	.isotope.no-transition,
	.isotope.no-transition .isotope-item,
	.isotope .isotope-item.no-transition {
	  -webkit-transition-duration: 0s;
		 -moz-transition-duration: 0s;
		  -ms-transition-duration: 0s;
		   -o-transition-duration: 0s;
			  transition-duration: 0s;
	}
	.magnifier .btn-default {
		padding:0 20px !important;
		color:#222222 !important;
		width:auto !important;
	}
	.magnifier .sg,
	.magnifier .st,
	.magnifier .sf {
		border:1px solid #ffffff;
		color: #FFFFFF;
		display: block;
		display: inline-block !important;float: none !important;
		font-size: 16px;
		height: 40px;
		line-height: 38px;
		text-align: center;
		width: 40px;
		margin: -10px 2px 0 2px;
		text-align: center;
		width: 40px;
	}
	.magnifier h4 {
		color:#ffffff;
		text-align:center;
		font-size:16px;
		padding:10px 0;
		margin-bottom:20px;
		display:block;
		font-family: 'bariol_lightlight';
	}
	.magnifier h3 {
		color:#ffffff;
		text-align:center;
	}
	.portfolio_item .magnifier .buttons {
		top:44%;
	}
	.magnifier .buttons {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		text-align: center;
		width: 100%;
		top: 50%;
		margin-top: -20px;
		-webkit-transform: scale(0.2);
		-moz-transform: scale(0.2);
		-ms-transform: scale(0.2);
		-o-transform: scale(0.2);
		transform: scale(0.2);
		-webkit-transition: all 0.3s ease 0s;
		-moz-transition: all 0.3s ease 0s;
		-ms-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
	}
	.magnifier:hover .buttons {
		opacity: 1;
		visibility: visible;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
	.entry:hover .magnifier { 
		opacity: 1;
		visibility: visible;
	}
	.magnifier {
		background:#3C3B3B000;
		background:rgba(0,0,0,0.8);
		position:absolute;
		top:0;
		left:0;
		bottom:0;
		right:0;
		opacity:0;
		-webkit-transition:all .3s ease-in-out;
		-moz-transition:all .3s ease-in-out;
		-ms-transition:all .3s ease-in-out;
		-o-transition:all .3s ease-in-out;
		transition:all .3s ease-in-out;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}

	
	
/*	################################################################
	10. PRICING SECTION
	################################################################# */
	
	.pricing-box:hover {
		border-top: 1px solid #F7C221;
	
	}
	
	.bigstar {
		font-size:16px !important
	}
	
	.pricing-box .hideme {
		display:none !important;
	}
	.pricing-box:hover .hideme {
		background: none repeat scroll 0 0 #fff;
		display: block !important;
		position: absolute;
		left: 0;
		right: 0;
		top: 25px;
		width: 50px;
		margin: auto;
	}
	.pricing-box {
		border-top: 1px solid #E6E6E6;
		text-align:center;
		margin:40px 0;
		padding:20px;
	}
	
	.pricing-box:hover {
		color: #F7C221;
	}
	
	div.price {
		border-radius:500px;
		font-size:24px;
		color:#fff;
		text-align:center;
		font-weight:400;
	}
	
	.price-value {
		padding-top: 20px;
		font-size: 62px;
		color: #3C3B3B;
		text-align: center;
		font-weight: 600;
	}
	
	.price-value sub {
		font-size:21px;
		vertical-align: 40px;
	}
	
	.price-month {
		padding: 0 0 30px 0;
		font-size: 12px;
		color: #999;
		text-align: center;
		font-weight: 500;
		text-transform: uppercase;
	}
	
	.pricing-box h3 {
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
	}
	
	.jtbtn {
		display: inline-block;
		padding: 6px 13px;
		margin-bottom: 0;
		font-size: 14px;
		font-weight: 700;
		line-height: 1.428571429;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		white-space: nowrap;
		background: 0 0;
		color: #292723!important;
		border: 1px dashed #F7C221;
		margin-top: 30px;
		text-transform: uppercase;
	}
	
	.jtbtn:hover {
		text-decoration:none;
	}
	
	.pricing {
		list-style:none;
		padding:0;
	}
	
	.pricing li {
		font-size: 13px;
		line-height: 41px;
		text-align: center;
		margin: 0 auto;
		padding: 7px;
		color: #999;
		font-weight: 600;
		border: 1px dashed #DBDBDB;
		}
	ul.pricing {
		border: 1px dashed #fff;
	}		
	ul.pricing:hover {
		border: 1px dashed #DADADA;
	}	
		
/*	################################################################
	11. TEAM SECTION
	################################################################# */
	
	.team-wrapper {
		z-index: 1;
		display: block;
		padding: 10px 0 50px 10px;
		position: relative;
		background-color: #fff;
	}
		
	.team-box img {
		padding-bottom:15px;
		margin-bottom:30px;
		}
		
	.team-box {
		margin: 40px 0 100px 0;
		color:#999999;
		padding:0;
		}
	
	.team-box h3 {
		margin: 20px 0;
		font-size: 16px;
		text-transform: uppercase;
		color: #3C3B3B;
		font-weight: 600;
	}
	
	.team-box p {
		margin-top: -15px !important;
		font-weight: 500;
		font-size: 12px;
		text-transform: uppercase;
		
	}
	
	.team-social-icons img {
		border: none;
		padding: 25px 0px 25px 5px;
	}
		
	.greatideas {
		text-align: center;
		margin: 70px 0 0 0;
	}	
	
	.featured-box img {
		width:100%;
		margin-bottom:-100px;
	}
	.featured-box {
		margin:0;
		color:#999999;
		padding:0;
	}
	
	.featured-box h3 {
		color: #FFF;
		font-weight: 600;
		font-size: 32px;
		text-align: center;
		padding: 25px;
	}
	
	.social-icons .fa {
		color: #F7C221;
		}
		
/*	################################################################
	12. STATS COUNT SECTION
	################################################################# */
	
	.stat {
	   margin:0px auto;
	   text-align:center;
	}
	
	.milestone-counter img {
		float: left;
		padding: 10px;
	}
	
	.highlight {
	   color:#fff;
	   padding:20px 0;
	   font-weight:400;
	   display:block;
	   overflow:hidden;
	   margin-bottom:0;
	   font-family: 'Oswald', sans-serif;
	   font-size:56px;
	}
	.stat i {
		color: #FFF;
		margin: 0 15px 0px 0px;
		font-size: 65px;
	}
	.milestone-details {
		font-weight: 500;
		font-size: 12px;
		color: #FFF;
		padding: 0 0 10px 10px;
		}
	   
/*	################################################################
	13. CONTACT AND MAP SECTION
	################################################################# */
	
	#success_page h1 {
		font-size:24px;
		font-weight:bold; 
		text-transform:uppercase;
	}
	
	.loader1 {
    vertical-align: super;
    padding-left: 20px;
}
	
	.form-control {
		border-radius: 0 !important;
		box-shadow: none !important;
	}
	
	.contact-wrapper {
		display:block;
		padding:70px 0;
		position:relative;
		background-color:#fff;
	}
	
	#contactform {
		margin:30px 0;
		}
	#contactform .form-control {
		margin: 10px 0;
		height: 50px;
		font-weight: 500;
		font-size: 12px;
		}	
		
	#contactform textarea {
		height:150px !important;
		}
	
	#contactform span.required{ 
		font-size: 13px; color: #ff0000; 
		} 
	
	.btn-primary {
		display: inline-block;
		padding: 6px 13px;
		margin-bottom: 0;
		font-size: 14px;
		font-weight: 700;
		line-height: 1.428571429;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		white-space: nowrap;
		background: 0 0;
		color: #292723!important;
		border: 1px dashed #F7C221;
		margin-top:0px;
		text-transform: uppercase;
	}

	
	.contact-box img {
		padding-bottom:15px;
		margin-bottom:30px;
	}
	.contact-box {
		margin:0;
		color:#999999;
		padding:0;
	}
	
	.contact-box h2 {
		margin: 20px 0;
		font-size: 13px;
		text-transform: uppercase;
		color: #3C3B3B;
		font-weight: 700;
	}
	
	.btn-contact:hover {
		background: none !important;
		border-color: #F7C221 !important;
	}
	
	
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
		font-weight: 700 !important;
		font-size: 12px !important;
		border: 1px dashed #FFF !important;
		text-transform: uppercase;
		padding: 10px;
		border: 1px dashed #F7C221 !important;
		letter-spacing: 3px;
		color: #F7C221 !important;
	}
	
	.nav-tabs > li > a {
		border: none !important;
		background: none !important;
		font-weight: 500 !important;
		font-size: 12px !important;
		border: 1px dashed #FFF;
		text-transform: uppercase;
		padding: 10px !important;
		letter-spacing: 3px !important;
		color: #999 !important;
	}
	
	.nav-tabs {
		border: 0 !important;
		padding-bottom: 40px;
	}
	
	.btn-contact {
		border-radius:0 !important;
		margin-bottom: 75px;
		}
			
	.btn-contact:hover {
		background:none  !important;
		margin-bottom: 75px;
		}
			
	.nav-tabs > li {
		float:none;
		margin:20px 10px 0 !important;
		display:inline-block;
		}	
		
	#map{
		height:450px;
		width:100%;
	}
	#map img{
		max-width:inherit
		}
	.map{
		position:relative
		}
	.map .row{
		position:relative
		}
		
	.infobox img {
		width:100% !important;
	}
	.map .searchmodule {
		padding:18px 10px
	}
	.infobox {
		display: inline-block;
		padding: 5px;
		position: relative;
		width: 270px;
	}
	.infobox img {
		width:80px !important;
		padding-right:10px
	}
	.infobox .title {
		font-size:13px;
		font-weight:bold;
		margin-top:0;
		margin-bottom:0;
		text-transform:uppercase;
		padding-bottom:5px;
	}
	.infobox .title a {
		font-weight:bold;
	}
		
	.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	color: #FFF !important;
	background-color: #3298DA !important;
	border-color: #3298DA !important;
	}
	


	.error_message {
	color: #F00!important;
	}
	
	.contact-box .fa {
		font-size: 40px;
		color: #F7C221;
	}
			
	
	/*	################################################################
	14. FOOTER SECTION
	################################################################# */
	

	.footer {
	    background: #466673;
	    color: #fff;
	    padding-top: 25px;
	    display: inline-block;
	    width: 100%;
	    font-weight: 300;
	}
	.footer h1 {
	    font-size: 20px;
	    text-transform: uppercase;
	    font-weight: 400;
	    margin-top: 0;
	    margin-bottom: 20px;
	}
	.footer address a { color: #f7c221 }
	.tweet-box {
	    background: #505b71;
	    padding: 8px 15px;
	    border-radius: 1px;
	    -moz-border-radius: 1px;
	    -webkit-border-radius: 1px;
	    border-bottom: 1px solid #636F79;
	    font-size: 14px;
	}
	.tweet-box:before {
	    background-color: #505b71;
	    border-color: #505b71;
	    border-image: none;
	    border-right: 1px none #505b71;
	    border-style: none;
	    content: "";
	    display: block;
	    height: 22px;
	    left: 60px;
	    position: absolute;
	    top: 32px;
	    transform: rotate(45deg);
	    -webkit-transform: rotate(45deg);
	    width: 22px;
	}
	.tweet-box  a,
	.tweet-box i { color: #00adef }
	.tweet-box  a:hover { color: #30a6f2 }
	.tweet-box i {
	    font-size: 40px;
	    float: left;
	    margin-right: 15px;
	}
	.social-link-footer li {
	    float: right;
	    margin: 5px 10px 5px 0px;
	    padding-bottom: 5px;
	}
	.social-link-footer li a {
	    color: #fff;
	    background: #466673;
	    padding: 11px;
	    width: 40px;
	    height: 40px;
	    border-radius: 50px;
	    -moz-border-radius: 50px;
	    -webkit-border-radius: 50px;
	    float: left;
	    text-align: center;
	    font-size: 18px;
	    -webkit-transition: all .3s ease;
	    -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	    -o-transition: all .3s ease;
	    transition: all .3s ease;
	}
	.social-link-footer li a:hover {
	    background: ##3298da;
	    color:#2c3e50;
	    -webkit-transition: all .3s ease;
	    -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	    -o-transition: all .3s ease;
	    transition: all .3s ease;
	}
	.copyright {
	    color: #fff;
	    padding-top: 15px;
	}

	.copyright a {
	    color: #f7c221;
	}

	.page-footer { }
	.page-footer h1 { }
	ul.page-footer-list {
	    list-style: none;
	    padding: 0px 0px;
	}
	ul.page-footer-list li {
	    line-height: 35px;
	    border-bottom: 1px dashed #a9aeb1;
	}
	ul.page-footer-list a { color: #fff }
	ul.page-footer-list li i { padding-right: 10px }
	.footer-small {
	    background-color: #284659;
	    margin-top: -6px;
	    padding-top: 5px;
	}
	.text-footer {}
	.text-footer p { text-align: left }
	.address p {
	    text-align: left;
	    margin-bottom: 10px;
	}

	.pr-10 {
	    padding-right: 10px;
	}

	.last-itm
	{
		border-bottom: none!important;
	}

	.address p {
	    text-align: left;
	    margin-bottom: 10px;
	}


	.hovereffect .icon {
		font-size: 31px;
		font-weight: 300;
		height: 75px;
		left: 0;
		line-height: 75px;
		margin: -35px auto 0;
		position: absolute;
		right: 0;
		top:38%;
		text-align: center;
		width: 75px;
		}
		
	.hovereffect h4 {
		text-align:center;
		font-size:20px;
		padding:10px 30px;
		text-transform:uppercase;
		width:auto;
		margin-bottom:0;
		display:block;
		font-weight:700;
	}
		
	.hovereffect h5 {
		text-align:center;
		font-size:12px;
		padding:10px 30px;
		text-transform:uppercase;
		width:auto;
		color:#fff;
		margin-bottom:0;
		display:block;
		font-weight:700;
		}
		
	.hovereffect h4,
	.hovereffect .icon {
		color:#fff;
	}
	.hovereffect .buttons {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		text-align: center;
		width: 100%;
		height:auto;
		bottom: 29%;
		margin-top: -20px;
		-webkit-transform: scale(0.2);
		-moz-transform: scale(0.2);
		-ms-transform: scale(0.2);
		-o-transform: scale(0.2);
		transform: scale(0.2);
		-webkit-transition: all 0.3s ease 0s;
		-moz-transition: all 0.3s ease 0s;
		-ms-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
	}
		.hovereffect:hover .buttons {
		opacity: 1;
		visibility: visible;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
		}
		.entry:hover .hovereffect { 
		opacity: 1;
		visibility: visible;
		}
		.entry {
		display:block;
		position:relative;	
	}
	.hovereffect {
		background-color:rgba(0,0,0,0.6);
		position:absolute;
		top:0;
		left:0;
		bottom:0;
		right:0;
		opacity:0;
		-webkit-transition:all .3s ease-in-out;
		-moz-transition:all .3s ease-in-out;
		-ms-transition:all .3s ease-in-out;
		-o-transition:all .3s ease-in-out;
		transition:all .3s ease-in-out;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
		}
		
	
	
	/*	################################################################
	15. VIDEO PARALLEX
	################################################################# */
		
	#videobgfull {
		width:100% !important;
		min-height:500px !important;
		max-height:100% !important;
		position:relative !important;
	}
	
	.videooverlay {
		padding: 100px 0;
		background-color: rgba(247, 194, 33, 0.34);
	}
	
	.videooverlay .general-title h2 {
		color:#fff;
	}
	
	.video-js {width:100%; height:100%;}
	
	#revvideo {
		width:100% !important;
		height:100% !important;
	}
			
	#volume {
		bottom: 0;
		color: #ffffff;
		cursor: pointer;
		font-size: 17px;
		height: 30px;
		line-height: 28px;
		position: absolute;
		right: 0;
		text-align: center;
		width: 30px;
		z-index: 10;
		background: #3C3B3B;
		border: 1px dashed #222;
	}
	
	.js-video {
		height: 0;
		padding-top: 25px;
		padding-bottom: 50.5%;
		border:1px solid #ffffff;
		position: relative;
		overflow: hidden;
	}
	.js-video.widescreen {
		padding-bottom: 57.25%;
		border:1px solid #ffffff;
	}
	.js-video.vimeo {
		padding-top: 0;
		border:1px solid #ffffff;
	}	
	
	.js-video embed, .js-video iframe, .js-video object, .js-video video {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		position: absolute;
	}
	
	.mb_YTVPlayer {z-index:-10;}
	.videobg {
		padding:0; 
		color:#ffffff !important;
	}
	
	.videobg-wrap .general-title hr {
		background-color:#ffffff;
	}
	.videobg-wrap { background-color: rgba(247, 194, 33, 0.5);padding:30px 0 0}
	
	.animationload {
		position: fixed;
		top:0;
		left:0;
		right:0;
		bottom:0;
		background-color:#fff; /* change if the mask should have another color then white */
		z-index:999999; /* makes sure it stays on top */
	}
	.loader {
		width:200px;
		text-indent:-99999;
		height:200px;
		font-size:0;
		position:absolute;
		left:50%; /* centers the loading animation horizontally one the screen */
		top:50%; /* centers the loading animation vertically one the screen */
		background-image:url(images/loading.gif); /* path to your loading animation */
		background-repeat:no-repeat;
		background-position:center;
		margin:-100px 0 0 -100px; /* is width and height divided by two */
	}
	
	
/*	################################################################
	16. COLOR SCHEME
	################################################################# */
	
	.pricing-box:hover .pricing {
		background-color:#ededed;
	}
	
	.pricing-box:hover .price-value,
	.pricing-box:hover .price-month,
	.hovereffect h5  {
		color:#F7C221;
	}
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus,
	.navbar-default .navbar-nav > li > a:active,
	.navbar-default .navbar-nav > li > a.active,
	.navbar-default .navbar-nav > .active > a, 
	.navbar-default .navbar-nav > .active > a:hover, 
	.navbar-default .navbar-nav > .active > a:focus,
	.transparent .title h2 {
		border-color:#F7C221;
	}
	
		
	
	/*	################################################################
	17. BLOG SECTION
	################################################################# */
	
	#whiteheader {background-color:#fff !important;}
	
	#whiteheader .navbar-default .navbar-nav > li > a 
	{
		color: #999;
		font-weight: 600;
		font-size: 12px;}
	
	.blog-main #intro {
		padding: 75px 0px 42px;
		background: #3C3B3B;
	}
	
	.main-content {
		position: relative;
		background: #FFF;
		padding: 60px 0 105px;
	}
	
	
	.sidebar-widget {
		margin-bottom: 60px;
	}
	
	.sidebar-widget h5 {
		font-weight: 500;
		font-size: 16px;
		color: #3C3B3B;
	}
	
	.search {
		position: relative;
	}
	
	.search input {
		height: 45px;
		border: 1px dashed #ddd;
		width: 100%;
		padding: 15px;
		font-size: 14px;
		position: relative;
	}
	
	.search:before {
		content: "\f002";
		font-family: FontAwesome;
		position: absolute;
		right: 12px;
		top: 10px;
		font-size: 20px;
		color: #888888;
		z-index: 999;
	}
	
	.blog-carousel-header a {
		color: #F7C221;
	}
	
	.recentpost-list {
		padding: 0;
	}
	
	.recentpost-list li {
		list-style: none;
		font-size: 16px;
		color: #999;
		margin-bottom: 45px;
		padding-left: 0;
		position: relative;
	}
	
	.recentpost-list li img {
		float: left;
	}
	
	.recentpost-list li h4 {
		font-size: 13px;
		font-weight: 400;
		margin-bottom: 2px;
		margin-left: 80px;
		color: #999;
	}
	
	.recentpost-list li h4 a {
		color: #999;
	}
	
	.recentpost-list li h4 a:hover {
		color: #F7C221;
	}
	
	.recentpost-list li span {
		font-size: 12px;
		color: #aaaaaa;
		margin-left: 13px;
		font-style: italic;
	}
	
	
	.category-list {
		padding: 0;
	}
	
	.category-list li {
	list-style: none;
	font-size: 14px;
	color: #858585;
	margin-bottom: 15px;
	padding-left: 22px;
	position: relative;
	border-left: 1px solid #DDD;
	padding: 2px 0px 0px 20px;
	}
	
	
	.category-list li a {
		color: #999;
	}
	
	.category-list li a:hover {
		color: #F7C221;
		text-decoration:none !important;
	}
	
	.category-list li:hover {
		border-left: 1px solid #F7C221;
		
	}
	
	.tags-list {
		padding: 0;
	}
	
	.tags-list li {
		float: left;
		margin-right: 4px;
		margin-bottom: 7px;
		list-style: none;
	}
	
	.tags-list li a {
		background: #fff;
		border: 1px dashed #ddd;
		color: #858585;
		padding: 6px 13px;
		display: table;
		font-size: 14px;
	}
	
	.tags-list li a:hover {
		background: #F7C221;
		border: 1px dashed #F7C221;
		color: #fff;
	}
	
	.blog-ico {
		width: 70px;
		height: 90px;
		float: left;
	}
	
	.blog-ico i {
		width: 70px;
		height: 70px;
		color: #F7C221;
		font-size: 40px;
		line-height: 70px;
	}
	
	.blog-content img {
		padding-right: 15px;
		margin-right: 30px;
		display: block;
	}
	
	article p {
		font-size: 13px;
		color: #999;
		line-height: 23px;
		margin-top: 20px;
		font-weight: 500;
	}
	
	article {
		padding-bottom: 50px;
		margin-bottom: 40px;
		
	}
	
	.post-head {
		margin-top: 30px;
		display:block;
		width: 100%;
		margin-bottom: 5px;
	}
	
	article h4 {
		font-size: 22px;
		color: #3C3B3B;
		font-weight: 400;
	}
	
	article h4 a {
		color: #3C3B3B;
	}
	
	article h4 a:hover {
		color: #F7C221;
	}
	
	
	.post-date a {
		font-size: 12px;
		color: #999;
		font-weight: 500;
		display: block;
	}
	
	.post-meta a {
		font-size: 12px;
		color: #F7C221;
		font-weight: 500;
	}
	
	
	.blogvideo , .iaudio {
		position: relative;
		overflow: hidden;
		border: 0;
		padding-right: 15px;
		margin-right: 30px;
		display: block;
	}
	
	.iaudio {
		padding-bottom: 22.25%;
		margin-top: 30px;
		
	}
	
	.video iframe,.video object,.video embed ,
	.iaudio iframe,.iaudio object,.iaudio embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border:none;
	}
	
	.blockquote {
		font-size: 13px;
		color: #3C3B3B;
		margin: 25px auto 25px;
		display: table;
		width: 100%;
		position: relative;
		width: 79%;
		left: 40.5px;
		font-weight: 500;
	}
	
	.social-list {
		display: flex;
	}
	
	.social-list img {
		padding: 5px !important;
		margin: 5px !important;
	}
	
	/* Comments */
	
	span.commenthr {
		padding-bottom: 20px;
	}
	
	.comment-section h6 {
		font-size: 20px;
		text-transform: uppercase;
		font-weight: 600;
		color: #3C3B3B;
		margin: 0;
		text-align: center;
	}
	
	.comment-section h6 hr {
		border-color: #F7C221;
		width: 30%;
	}
	
	.comments {
		padding: 0;
	}
	
	.comments li {
		border-top: 1px solid #ddd;
		padding: 40px 0;
		list-style: none;
	}
	
	.comments li:first-child {
		border-top: 1px solid transparent;
	}
	
	#commentform {
		margin:30px 0;
		}
	#commentform .form-control {
		margin: 10px 0;
		height: 50px;
		font-weight: 500;
		font-size: 12px;
		}	
		
	#comment textarea {
		height:150px !important;
		}
	
	#comment span.required{ 
		font-size: 13px; color: #ff0000; 
		} 
	.c-author {
		width: 120px;
		float: left;
	}
	
	.c-info {
		margin-left: 20px;
		position: relative;
	}
	
	.c-info h4 {
		margin: 0 0 6px;
		color: #424242;
		font-size: 14px;
		font-weight: 600;
		display: inline-block;
	}
	
	.c-time {
		color: #999;
		font-size: 12px;
		font-weight: 500;
		margin-left: 10px;
		letter-spacing: 0.1em;
	}
	
	.c-info p {
		font-size: 14px;
		color: #858585;
		padding: 15px 0;
	}
	
	.reply {
		font-size: 12px;
		color: #F7C221;
		font-weight: 500;
		text-align: center;
		text-transform: uppercase;
		padding: 5px 0px 5px 20px;
		display: table;
		position: relative;
		position: absolute;
		top: 0px;
		right: 0px;
	}
	
	.reply:hover {
		color: #F7C221;
	}
	
	
	.comment-sub {
		margin-left: 145px;
	}
	
	.comment-form {
		border-top: 1px solid #ddd;
		padding-top: 45px;
	}
	
	/* Blog Page Header */
		
	.post-wrapper-top {
		background: rgba(217, 151, 35, 0.85);
		border: 3px solid #efefef;
		bottom: 0;
		left: 0;
		margin-bottom: 0;
		padding: 0;
		position: relative;
		right: 0;
		text-align: left;
		top: 0;
		z-index: 0;
	}
	
	.post-wrapper-top h2 {
		color: #fff;
		display: inline-block;
		font-size: 24px;
		margin-bottom: -3px;
		padding: 30px 0;
		position: relative;
	}
	
	ul.breadcrumb {
		margin: 40px;
		background: none;
		color: #FFF;
	}
	
	i.fa.fa-long-arrow-left {
		font-size: 15px;
		margin-right: 10px;
	}
	
	 .blog-carousel img {
		width:100%;
	 }
	 
	 ul.social-icons {
		margin-top: 0px;
	}

	.blog-masonry .blog-carousel {
		margin:20px 0;
		overflow:hidden;
		padding:20px;
		background:#fff;
		border:1px solid #efefef;
	}
	.blog-carousel-meta span a {
		color:#686868;
	}
	.blog-carousel-meta span i,
	.blog-carousel-meta span {
		font-size:12px;
		padding-right:5px;
	}
	.blog-carousel-header h3 {
		padding-bottom:0;
		font-size:18px;
		margin-bottom:5px;
	}
	.blog-carousel-header h1 {
		padding-bottom:0;
		margin-bottom:5px;
		text-transform:uppercase;
	}
	.blog-carousel-header {
		position:relative;
		display:block;
		margin-bottom:0;
		padding-bottom:10px;
	}
	.post-type {
		color: #FFFFFF;
		font-size: 18px;
		height: 42px;
		line-height: 42px;
		position: absolute;
		right: 0;
		text-align: center;
		bottom: 0;
		z-index:10;
		width: 52px;
		background:#222;
	}
	.entry:hover .post-type {
		opacity:0
	}
	.social_like .icon-container {
		color:#222;
		margin:0 15px 0 0;
		background:#fff;
	}
	.social_like .btn {
		width:86px;
	}
	.social_like {
		position:relative;
		display:block;
	}
	.social_like h3 {
		font-size: 18px !important;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.social_button {
		position:absolute;
		right:0;
		top:10px;
	}
	/*	################################################################
	18. SOCIAL MEDIA SECTION
	################################################################# */
	
	.social-icons {
		padding:0;
		width:245px;
		margin: -35px 0 10px 0;
		text-align:center;
		display:block; 
		overflow:hidden
	}
	.social-icons span a {
		font-size:14px;
		text-align:center;
		width:40px;
		height:42px;
		line-height:42px;
		overflow:hidden;
		display:block;
		float:left
	}
	
	.social-icons i.fa {
		font-size: 15px;
	}
	
	#footer-style-2 .social-icons span a,
	#footer-style-3 .social-icons span a,
	#footer-style-1 .social-icons span a {
		border:none;
		color:#686868;
	}

	
	/*	################################################################
	20. Mobile Responsive
	################################################################# */	
	
	@media (max-width: 768px) { {
		.home-content h1 {font-size:31px !important}
		.tparrows,
		.small_title,
		.slider_menu a {display:none}
	}
	
	.header {
	    background: #3298da;
	    padding:0;
	}

	ul.nav.navbar-nav.navbar-right {
		background: rgba(0, 0, 0, 0.35);
		width: 100%;
		padding: 10px;
	}
		
	.tp-caption p {
		margin-top:110px!important;
		line-height:1.3;
		
		}
		
	.tp-caption h2 {
		font-size : 26px!important;
    }	 
	
	
	#slider4container .tparrows:before,
	#slider4container .tparrows:hover,
	#slider4container .tparrows {
		color: #000 !important;
	}
	#slider4container .tparrows {
		background:#fff !important;
		background:rgba(255,255,255,0.5) !important;
	}
	#slider4container .tparrows:hover	{
		background:#fff !important
	}
	
	.sliderbigtitle {
	font-size: 26px;
	}
	
	}
	
	
	/*	################################################################
	21. TIMELINE
	################################################################# */



.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}




/* -------------------------------- Main components -------------------------------- */

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #fff;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block::after {
  clear: both;
  content: "";
  display: table;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
 
}
.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}
.cd-timeline-img.cd-picture {
  background: #75ce66;
}
.cd-timeline-img.cd-movie {
  background: #c03b44;
}
.cd-timeline-img.cd-location {
  background: #f0ca45;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: #ffffff;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 2px 6px 4px #9e9898;
}
.cd-timeline-content::after {
  clear: both;
  content: "";
  display: table;
}
.cd-timeline-content h2 {
  color: #303e49;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #6aceec;
  color: #ffffff;
  border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #ffffff;
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #ffffff;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #ffffff;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

.headban
{
	width:100%; 
	height: 300px; 
	background-image: url("images/headback.jpg");
}

h2.page-title {
    color: #fff;
    font-size: 40px;
    font-style: normal;
    font-weight: normal;
    line-height: 40px;
    margin-top: 5em;
    opacity: 1;
    padding: 0;
    text-transform: uppercase;
}


















/*=========================== 
21. Timeline
============================= */


.cd-container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* ########################################################################## 
Main components 
########################################################################## */


@media only screen and (max-width: 768px) {
  .cd-timeline-img
    {
      padding: 6px!important;
      text-align: center;
    }
  .cd-timeline-img i
    {
      font-size: 18px;
      color: #fff;
    }

}

@media only screen and (min-width: 769px) {

	.header {
	    background: #3298da;
	    padding: 15px 0;
	}

  .cd-timeline-img
    {
      padding: 10px!important;
      text-align: center;
    }
     .cd-timeline-img i
    {
      font-size: 27px;
      color: #fff;
    }

}


@media only screen and (min-width: 1170px) {
  t-header {
    height: 300px;
    line-height: 300px;
  }
  t-header h1 {
    font-size: 24px;
    font-size: 1.5rem;
  }
}

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid #d7e4ed;
}
.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}
.cd-timeline-img.cd-picture {
  background: #75ce66;
}
.cd-timeline-img.cd-movie {
  background: #c03b44;
}
.cd-timeline-img.cd-location {
  background: #f0ca45;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: #f5f2ee;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d5d2d0;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: #303e49;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #f5f2ee;
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
  }
  .cd-timeline-content p {
    font-size: 16px;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #f5f2ee;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: -1px;
	font-size: 25px !important;
	color: #3298da !important;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #f5f2ee;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

.blink_me {
  animation: blinker 1.5s cubic-bezier(.77,0,.18,1) infinite;
  background: #d68f0a;
  padding: 0px 20px 0px 0px;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

.pro-img{
  height: 100px;
  object-fit: contain;
}



.project .projects-box {
  padding: 10px;
  border: 4px solid #fff;
  margin-bottom: 50px;
  margin-top: 12px;
  box-shadow: 1px 2px 7px #ccc;
  background-color: #f7f7f7;
}
.project .projects-box .projects-thumb {
  margin-bottom: 20px;
  position: relative;
  /*  
&:before{
		content: '';
		position: absolute;
		background: rgba(43, 44, 48, 0.8);
		top: 0;
		opacity: 0;
		width: 100%;
		left: 0;
		height: 100%;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		transition: all 0.4s ease;
	}		
	*/
}
.project .projects-box .projects-thumb:hover:before {
  opacity: 1;
}
.project .projects-box .projects-content h4 {
  padding-bottom: 10px;
  font-size: 16px;
  text-transform: uppercase;
}
.project .projects-box .projects-content h4 a:hover {
  color: #ffbb02;
}
.project .projects-box .projects-content .recent-meta {
  font-size: 11px;
  padding: 6px 0 5px;
  border-top: 1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.project .projects-box .projects-content .recent-meta span {
  margin-right: 5px;
}
.project .projects-box .projects-content .recent-meta span i {
  margin-right: 5px;
  color: #ccc;
}
.project .projects-box .projects-content .projects-desc {
  margin-bottom: 15px;
}

.projects-box p {
    color: #999999;
}


.myft ul
{
	width: 200px;
	margin: auto;
	margin-top: 5px;
}

.footer li a:hover
{
 font-weight:bold;
 text-decoration: none;
}



.img_res{
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
}
.block-title {
    font-weight: 300;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3.8em;
    padding: 0 40px;
    margin: 0;
    line-height: 1.6;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
}

.block {
    padding: 80px 0px 50px 0px;
    overflow: hidden;
}
.title-box{
    text-align: center;
    
    margin-bottom: 50px;
}
.bb-top-left {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    left: 0;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
}
.bb-bottom-left {
    position: absolute;
    width: 15px;
    height: 15px;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
}
.bb-top-right {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    right: 0;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
}
.bb-bottom-right {
    position: absolute;
    width: 15px;
    height: 15px;
    bottom: 0;
    right: 0;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}
.polo-btn {
    display: block;
    color: #fff;
    border: 1px solid;
    text-align: center;
    font-size: 26px;
    font-weight: 100;
    padding: 15px 0px;
    margin: 0px 0px 20px 0px;
    transition: 0.4s ease all;
}

#banner {
    background-color:#fff;
    padding-top: 10px;
    background-attachment: fixed;
    position: relative;
}

.headings {
    padding: 7% 0 0 0;
    color: #000;
}
.headings h1 {
    font-size: 38px;
	font-weight: 300;
	padding-bottom: 20px;
	color: #898585;
}
.headings p {
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 20px;
}
.hand-container {
    max-height: 630px;
    overflow: hidden;
}
.iphone-hand {
    padding:0px;
}
.store:hover{
    background: #00ceb8;
    border-color: #00ceb8;
    color: #fff; 
}
.polo-btn i {
    padding-right: 6px;
}
.slidedown {
    font-size: 50px;
    color: #fff;
    position: absolute;
    bottom: 0%;
    left: 50%;
    z-index: 99;
    cursor: pointer;
}

.myclass {
	padding: 2em 0;
}


.team-box img{
	max-width: 100%;
}


.about-text ul {
	margin-top: 15px;
	padding: 0;
}

.about-text li {
	margin-bottom: 25px;
	font-weight: 300;
	list-style: none;
	color: #716e6b;
}

ul.withArrow{
	
}
ul.withArrow li{
	
}
ul.withArrow li span{	
margin-right: 10px;
font-weight: 700;
color: #3298da;
border: 2px solid;
padding: 1px 4px;
font-size: 11px;
border-radius: 50%;
height: 16px;
width: 16px;
}

ul.withoutArrow li span{	
margin-right: 10px;
color: #3298da;
font-size: 15px;
height: 16px;
width: 16px;
}

ul.withoutArrow li {
font-size: 17px;
}



.head
{
  font-size: 30px;
  text-align: center;
  padding: 30px;
}
.border-line3 {
  background: #fff url(../img/line.png) center center no-repeat;
  height: 22px;
  margin-top: -23px;
  margin-bottom: 50px;
}

.categorydescription {
  width: 100%;
  height: auto;
  background: #444;
  padding: 25px;
  font-size: 13px;
  line-height: 30px;
  margin: 0px auto;
  margin-bottom: 1%;
  /* box-shadow: 0px 0px 11px #ccc; */
  color: #fff;
  /* border-bottom-style: dotted; */
  border-width: 1px;
  border-color: #fff;
  text-align: justify;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.google-ad img {
  width: 100%;
}

.google-ad {
  width: 95%;
  padding: 10px;
  margin: 20px;
}

.price-range
{
  text-align:center;
  background: #fff;
  border-right:1px dashed #ccc;
  cursor: pointer;
}
.min
{
  width:50%;
  float: left;
  text-align: center;
}
.min input
{
  text-align: center;
}


.home-main
{
    margin-top: 115px;
}
.home-main-left
{
    margin-top:10px;
}


.home-main-image {
    height: 230px;
    padding: 0px!important;
}
.home-main-image img {
    width: 100%;
    object-fit: cover;
    height: 225px;
    padding: 15px;
    border-radius: 22px;
}
.no-padding
{
  padding:0px
}

.head-on
{
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    padding-left: 10px;
    color: #8c6900;
    cursor: pointer;
    width: 100%;
}
.apartment
{
    background: #f9f8f5;
    padding: 4px;
    font-weight: 600;
}

.detail
{
    padding: 4px;
}
.owner
{
    padding: 9px 30px;
    font-size: 15px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 0px;

}
.margin-top
{    margin-top: 20px;
    border-top: 1px dashed #ccc;
    padding-top: 15px; margin-top:10px;
}
.border-top
{
    margin: 10px 0px;
	background: #f5f5f5;
	padding-bottom: 10px;
	border: 4px solid #fff;
	box-shadow: 0px 0px 4px #ccc;
}
.ru
{
    background: #f9f8f5;
}
.home-main-right
{
    margin-top: 20px;

}

.home-main-right img
{
    width: 100%;
    background: #fff;
    margin-bottom: 10px;
    padding: 10px;

}

.city-btn
{
	margin-top: 0px!important;
}

.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.3em;
    vertical-align: middle;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
}



.Search-bar-home {
    background: rgba(255, 255, 255, 0.77);
    padding: 6px;
}

.border-right
{
    border-right: 1px solid #efefef;
}



/* About */
.about{
	padding:4em 0;
}
h3.heading {
    text-align: center;
    font-size: 40px;
    color: #7d3f98;
    border-bottom: 1px dotted #7d3f98;
    width: 19%;
    margin: 0 auto 1em;
    text-transform: uppercase;
}
.skills h3.heading {
    width: 10%;
}
.contact h3.heading {
    width: 20%;
}
.count-agileits h3.heading {
    color: #ffffff;
    border-bottom: 1px dotted #ffffff;
    width: 29%;
}
.gallery h3.heading {
    width: 13%;
}
/*-- clients--*/
.clients{
    padding: 1em 2em;
}
.clients h3{
	color:#fff;
}
.clients label.line{
	background:#fff;
}
.clients h3 {
	font-size: 30px;
	text-transform:uppercase;
	letter-spacing:0px;
	color: #146eb4;
    margin-bottom: .5em;
}
.clients span {
    width: 8%;
    height: 2px;
    background: #fff;
    position: absolute;
    text-align: center;
    left: 8%;
}
.flex-active-slide p {
    line-height: 30px;
    color: #212121;
    letter-spacing: 1px;
    font-size: 14px;
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px dotted #646464;
    border-bottom: 1px dotted #646464;
}
.flex-active-slide h4 {
    text-transform: capitalize;
    color: #252323;
    margin-bottom: 1em;
}
.client h5 {
	font-size: 20px;
	color:#ffffff;
    float: left;
    margin-top: 1.5em;
    margin-left: 1em;
}
.client {
    margin-top: 2em;
}
ul
{
	list-style: none;
}
ul.address li {
    display: block;
    text-align: left;
}
ul.address li ul.agileits-address-text li {
    display: inline-block;
    font-size: 1em; 
	color: #2f2f2f;
    margin-top: 1em;
}
ul.address li ul.agileits-address-text li  a{
    color: #2f2f2f;
}
ul.address li ul.agileits-address-text li  a:hover{
    color: #ff9900;
}
ul.address li ul.agileits-address-text li:nth-child(1) {
    width: 25%;
}
ul.hireme li {
    display: inline-block;
    font-size: 1em;
}
ul.hireme li a {
    padding: 8px;
    text-decoration: none;
    color: #212121;
}
.w3l_contact, .w3ls_more:hover {
    border: 1px solid #ff9900;
    color: #ffffff !important;
    background: #ff9900;
}
.w3ls_more, .w3l_contact:hover {
    border: 1px solid #146eb4;
    background: #146eb4;
    color: #ffffff !important;
}
ul.hireme {
    margin-top: 3em;
    margin-bottom: 1em;
}
/*-- //clients--*/
/* //About */

.about-optima-img {
    border: 6px solid #fff;
    box-shadow: 0px 0px 8px #726e6e;
}





slick-dots {
	text-align: center;
  margin: 0 0 10px 0;
  padding: 0;
  li {
    display:inline-block;
    margin-left: 4px;
    margin-right: 4px;
    &.slick-active {
      button {
        background-color:black;
      }
    }
    button {
      font: 0/0 a;
      text-shadow: none;
      color: transparent;
      background-color:#999;
      border:none;
      width: 15px;
      height: 15px;
      border-radius:50%;
    }
		:hover{
			background-color: black;
		}
  }
}

/* Custom Arrow */
.prev{
	color: #999;
	position: absolute;
	top: 38%;
	left: -2em;
	font-size: 1.5em;
		:hover{
			cursor: pointer;
			color: black;
		}
}
.next{
	color: #999;
	position: absolute;
	top: 38%;
	right: -2em;
	font-size: 1.5em;
	:hover{
			cursor: pointer;
			color: black;
		}
}

@media screen and (max-width: 800px) {
    .next {
        display: none !important;
    }
}








article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
/*end of default style resetting*/

h1 {
  font-size: 20vw;
  font-family: 'Chonburi', cursive;
}

.ui-widget-header {
    background-image: none !important;
    background-color: #2ECC71 !important; 
}

label{
  display: inline;
  margin-left: 1em;
}  

h3, .mynext {
  display: inline-block;
}

#result {
  font-family: 'Press Start 2P', cursive !important;
  font-weight: bold;
  font-size: 1.5em;
  color: #036;
}

input[name="option"] {
  float:left;
  
}

#form div{
  margin:auto;
  max-width: 205px;
}

#progressbar {
  margin: auto;
  margin-top: 20px;
  float: none; 
  width: 50%;
 }

#container {
  text-align: center;
}

input, select {
    vertical-align:middle;
}

.button {
    display: inline-block;
    padding: 1em;
    background-color: #79BD9A;
    text-decoration: none !important; 
    color: white !important;
} 


.progress-bar {
  float: left;
  width: 0;
  /*height: 100%;*/
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
       -o-transition: width .6s ease;
          transition: width .6s ease;
}





.blog-container-inner:hover .post-thumb a img  {
  transform: scale(1.1);
}
.post-thumb a img  {
  transition: transform 0.35s ease 0s;
}
.blog-container-inner {
  position: relative;
}
.post-thumb {
  overflow: hidden;
  position: relative;
  border: 6px solid #f6f0f0;
box-shadow: 0px 0px 3px #a19c9c;
}


.demo-btn
{
	padding: 0px 0px!important;
}
.demo-btn:hover
{
	padding: 0px 0px!important;
	border:1px dashed transparent!important;
}

.jumbotron {
    padding-right: 25px!important;
    padding-left: 25px!important;
}













.w3l_header_left ul li span{	
    margin-right: 1em;
}
.w3l_header_left ul li a{
	color:#fff;
	text-decoration:none;
}
.w3l_header_left ul li a:hover{
	color:#f7c221;
}
.w3l_header_left ul li:first-child {
    margin-right: 1.5em;
}


.w3l_header_right ul li a{
	text-transform: uppercase;
    color: #fff;
    padding: 0em 1em;
    text-decoration: none;
	display: block;
	border:1px solid transparent;
}

.w3l_header_right ul li a span{
	padding-right:1em;
}
.w3l_header_right ul {
    padding:0;
    margin-bottom: 0px!important;
}

.top-header{
	background-color: #466673!important;
	padding: 8px 0!important;
}




@media (max-width: 768px) { 

	.w3l_header_left ul {
	    padding: 0;
	    margin-bottom: 0px !important;
	}

	.w3l_header_left ul li {
	    display: inline-block;
	    color: #fff;
	    padding: 0.5em 1.5em 0em 0;
	    width: 100%;
	    text-align: center;
	}
	.w3l_header_right ul li {
	    display: inline-block;
	    margin-right: 0.5em;
	    width: 46%;
	}

	.btn-request {
	    display: inline-block;
	    padding: 4px 7px;
	    margin-bottom: 0;
	    font-size: 12px;
	    font-weight: 400;
	    line-height: 1.428571429;
	    text-align: center;
	    vertical-align: middle;
	    cursor: pointer;
	    white-space: nowrap;
	    background-color: #F7C221;
	    color: #fff !important;
	    border: 1px dashed #F7C221;
	    margin-top: 0px;
	    text-transform: uppercase;
	}

	.btn-request:hover{
		color: #FFF !important;
		background-color: #2374A8 !important;
		border-color: #F7C221 !important;
	}

	.mycontainer{
		padding-right: 5px!important;
		padding-left: 5px!important;
	}

	.w3l_header_right {
	    float: none;
	    text-align: center;
	    margin-top: 0.5em;
	}

	.w3l_header_left {
	    float: none;
	}


}


@media (min-width: 769px) { 

	.w3l_header_left ul{
		padding: 0em 0 0 1.5em;
	    border-left: 1px solid #fff;
	    margin-bottom: 0px!important;
	}

	.w3l_header_left ul li{
		display: inline-block;
	    border-right: 1px solid #fff;
	    color: #fff;
	    padding: 5px 1.5em 5px 0;
	}

	.w3l_header_right ul li{
		display:inline-block;
		margin-right:.5em;
	}

	.btn-request {
		display: inline-block;
		padding: 3px 13px;
		margin-bottom: 0;
		font-size: 13px;
		font-weight: 400;
		line-height: 1.428571429;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		white-space: nowrap;
		background-color: #F7C221;
		color: #fff !important;
		border: 1px dashed #F7C221;
		margin-top: 0px;
		text-transform: uppercase;
	}

	.btn-request:hover{
		color: #FFF !important;
		background-color: #2374A8 !important;
		border-color: #F7C221 !important;
	}

	.w3l_header_right {
	    float: right;
	}

	.w3l_header_left {
	    float: left;
	}

}